{% extends 'index.html' %}
{% load static %}
{% block title %} MyPage {% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-8">
        <h4 class="page-header">개인 정보</h4>
        <form action="{% url 'mypage:main' %}" method="post">
                {% csrf_token %}
                <div class="form-group float-label-control label-bottom">
                    <label for="">이름</label>
                    <input type="text" class="form-control" placeholder="Username">
                    <label for="">나이</label>
                    <input type="text" class="form-control" placeholder="Age">
                    <label for="">고등학교</label>
                    <input type="text" class="form-control" placeholder="High_school">
                    <div class="form-group">
                        <label for="expireDate" style="padding-right: 15px;">고등학교 입학, 졸업 기간 </label>
                        <div class="input-daterange date" id="datepicker1" style="width: 320px; display: inline-table;">
                        <input type="text" class="form-control" id="sdate1" style="width: 115px;" />
                        <label class="date-range" for="sdate1">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                        <span style="display: table-cell; padding: 0px 10px;"> ~ </span>
                        <input type="text" class="form-control" id="edate1" style="width: 115px; border-radius: 3px 0 0 3px;" />
                        <label class="date-range" for="edate1">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                    <br>
                    <label for="">대학교</label>
                    <input type="text" class="form-control" placeholder="Univ.">  
                    <label for="">주전공</label>
                    <input type="text" class="form-control" placeholder="Univ.">  
                    <label for="">복수, 부전공</label>
                    <input type="text" class="form-control" placeholder="Univ.">  
                    <div class="form-group">
                        <label for="expireDate" style="padding-right: 15px;">고등학교 입학, 졸업 기간 </label>
                        <div class="input-daterange date" id="datepicker1" style="width: 320px; display: inline-table;">
                        <input type="text" class="form-control" id="sdate1" style="width: 115px;" />
                        <label class="date-range" for="sdate1">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                        <span style="display: table-cell; padding: 0px 10px;"> ~ </span>
                        <input type="text" class="form-control" id="edate1" style="width: 115px; border-radius: 3px 0 0 3px;" />
                        <label class="date-range" for="edate1">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>  
                </div>   
            </div>
            <hr>
            <div class="form-group">
                    <label for="inputState">질문 목록</label>
                    <select id="inputState" class="form-control">
                    <option selected>입사한 후에 할 일</option>
                    <option>가장 인상 깊었던 프로젝트</option>
                    <option>가장 영향을 미친 인물</option>
                    <option>자신이 가장 창의적이었다고 생각하는 경험</option>
                    </select>
            </div>
            <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">추가</a>
            </div>
              {% for question in mypage.question_set.all %}
              <div class="form-group">
                  <label for="inputAddress2">{{question.question_title}}</label>
                  <textarea class="form-control col-md-8" id="inputAddress2">{{question.question_text}}</textarea>
                
                </div>
              {% endfor %}
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
</div>
{% endblock %}